<a href="https://colab.research.google.com/github/CamilliCerutti/growdev/blob/main/Estruturas_de_dados_Semana_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [ ]:
import random

In [ ]:
lista_num = []
while len(lista_num) < 100:
  num_aleatorio = random.randint(0,500)
  lista_num.append(num_aleatorio)

lista_num

[447,
 106,
 2,
 305,
 180,
 300,
 96,
 356,
 3,
 334,
 485,
 164,
 307,
 443,
 411,
 275,
 139,
 227,
 91,
 420,
 8,
 237,
 355,
 4,
 136,
 312,
 438,
 219,
 107,
 101,
 183,
 63,
 457,
 74,
 306,
 151,
 483,
 374,
 382,
 166,
 39,
 9,
 93,
 318,
 454,
 440,
 81,
 447,
 221,
 419,
 257,
 342,
 429,
 377,
 433,
 85,
 126,
 311,
 270,
 57,
 69,
 135,
 485,
 493,
 331,
 498,
 489,
 218,
 207,
 331,
 35,
 102,
 450,
 76,
 26,
 403,
 180,
 160,
 493,
 3,
 440,
 182,
 293,
 138,
 330,
 491,
 356,
 56,
 87,
 87,
 253,
 32,
 468,
 249,
 54,
 116,
 377,
 113,
 329,
 497]

2 - Calcule e exiba a soma de todos os números da lista.

In [ ]:
print(sum(lista_num))

24987

3 - Exiba o maior e o menor número da lista.

In [ ]:
print(f"O maior numero da lista é: {max(lista_num)}\nO menor numero da lista é: {min(lista_num)}")

O maior numero da lista é: 498
O menor numero da lista é: 2

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [ ]:
lista_num.append(77)

In [ ]:
aparicao = 0
indice = 0
lista_indice = []
for numero in lista_num:
  if numero == 77:
    aparicao +=1
    lista_indice.append(indice)
  indice += 1


print(f"O numero 77 aparece {aparicao} vezes\nNas posições: {lista_indice}")

O numero 77 aparece 2 vezes
Nas posições: [100, 101]

5 - Ordene a lista de forma descendente e exiba.

In [ ]:
lista_num.sort()
lista_num

[2,
 3,
 3,
 4,
 8,
 9,
 26,
 32,
 35,
 39,
 54,
 56,
 57,
 63,
 69,
 74,
 76,
 77,
 77,
 81,
 85,
 87,
 87,
 91,
 93,
 96,
 101,
 102,
 106,
 107,
 113,
 116,
 126,
 135,
 136,
 138,
 139,
 151,
 160,
 164,
 166,
 180,
 180,
 182,
 183,
 207,
 218,
 219,
 221,
 227,
 237,
 249,
 253,
 257,
 270,
 275,
 293,
 300,
 305,
 306,
 307,
 311,
 312,
 318,
 329,
 330,
 331,
 331,
 334,
 342,
 355,
 356,
 356,
 374,
 377,
 377,
 382,
 403,
 411,
 419,
 420,
 429,
 433,
 438,
 440,
 440,
 443,
 447,
 447,
 450,
 454,
 457,
 468,
 483,
 485,
 485,
 489,
 491,
 493,
 493,
 497,
 498]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [1]:
dias_semana = ("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado", "Domingo")

In [3]:
usuario = int(input("Digite um numero entre 1 e 7: "))
dia = dias_semana[usuario - 1]

print(f"O dia da semana é {dia}")

Digite um numero entre 1 e 7: 2
O dia da semana é Segunda

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [4]:
tupla1 = (1, 4, 6, 7)
tupla2 = (4, 5, 3,9)

tupla3 = tupla1 + tupla2

print(tupla3)

(1, 4, 6, 7, 4, 5, 3, 9)

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [ ]:
cores_1 = {"roxo", "Azul", "verde"}
cores_2 = {"Amarelo", "rosa", "Preto"}

cores_1.union(cores_2)

{'Amarelo', 'Azul', 'Preto', 'rosa', 'roxo', 'verde'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [ ]:
lista_sem_duplicacao = set(lista_num)
lista_sem_duplicacao

{2,
 3,
 4,
 8,
 9,
 26,
 32,
 35,
 39,
 54,
 56,
 57,
 63,
 69,
 74,
 76,
 77,
 81,
 85,
 87,
 91,
 93,
 96,
 101,
 102,
 106,
 107,
 113,
 116,
 126,
 135,
 136,
 138,
 139,
 151,
 160,
 164,
 166,
 180,
 182,
 183,
 207,
 218,
 219,
 221,
 227,
 237,
 249,
 253,
 257,
 270,
 275,
 293,
 300,
 305,
 306,
 307,
 311,
 312,
 318,
 329,
 330,
 331,
 334,
 342,
 355,
 356,
 374,
 377,
 382,
 403,
 411,
 419,
 420,
 429,
 433,
 438,
 440,
 443,
 447,
 450,
 454,
 457,
 468,
 483,
 485,
 489,
 491,
 493,
 497,
 498}

#Dicionários:

 Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [ ]:
frutas = {"abacaxi": "amarelo", "morango": "vermelho", "tomate": "vermelho", "banana":"amarela"}

In [ ]:
for key, value in frutas.items():
  if value == "vermelho":
    print(key)

morango
tomate

\Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [2]:
dados = {"Marcelo": 20, "Roberta": 15, "Julia": 20}

nome = input("Qual nome voce gostaria de procurar?")

if nome in dados:
  print(f"a idade de {nome} é: {dados[nome]}")
else:
  print("O nome nao esta na lista")

Qual nome voce gostaria de procurar?roberta
O nome nao esta na lista

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [3]:
nome = input("Digite Seu nome: ")
idade = int(input("Digite a sua Idade: "))

dados.update({nome:idade})

print(dados)

Digite Seu nome: Camilli
Digite a sua Idade: 19
{'Marcelo': 20, 'Roberta': 15, 'Julia': 20, 'Camilli': 19}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

In [6]:

votos = {
    "Candidato 1": 0,
    "Candidato 2": 0,
    "Voto Nulo": 0,
    "Voto Branco": 0
}

for i in range(5):
    voto = int(input(f"Digite o voto {i+1} (1, 2, 3 ou 4): "))

    if voto < 1 or voto > 4:
        print("O Código de votação está incorreto. Escolha um número entre 1 e 4!")
        voto = int(input(f"Digite o voto {i+1} (1, 2, 3 ou 4): "))

    if voto == 1:
        votos["Candidato 1"] += 1
    elif voto == 2:
        votos["Candidato 2"] += 1
    elif voto == 3:
        votos["Voto Nulo"] += 1
    elif voto == 4:
        votos["Voto Branco"] += 1

print(f"A votação gerou:\n{votos['Candidato 1']} votos para o Candidato 1\n{votos['Candidato 2']} votos para o Candidato 2\n{votos['Voto Nulo']} votos nulos\n{votos['Voto Branco']} votos em branco")

Digite o voto 1 (1, 2, 3 ou 4): 2
Digite o voto 2 (1, 2, 3 ou 4): 1
Digite o voto 3 (1, 2, 3 ou 4): 3
Digite o voto 4 (1, 2, 3 ou 4): 4
Digite o voto 5 (1, 2, 3 ou 4): 2
A votação gerou:
1 votos para o Candidato 1
2 votos para o Candidato 2
1 votos nulos
1 votos em branco

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [8]:
numeros_impares = [numero for numero in range(1, 21) if numero % 2 != 0]
print(numeros_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

:Crie uma lista com as letras da frase "Sou estudante de dados", utilizando



listas por compreensão.

In [10]:
frase = "Sou estudante de dados"

letras = [letra for letra in frase]

print(letras)

['S', 'o', 'u', ' ', 'e', 's', 't', 'u', 'd', 'a', 'n', 't', 'e', ' ', 'd', 'e', ' ', 'd', 'a', 'd', 'o', 's']